<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91076706450-5n2cq4mj4q4ulkn48gm67de3pa7n6vol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91076706450-5n2cq4mj4q4ulkn48gm67de3pa7n6vol</string>
	<key>API_KEY</key>
	<string>AIzaSyD2HAkACgboRY_GV3hZFWztPvUc227cpeI</string>
	<key>GCM_SENDER_ID</key>
	<string>91076706450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.anirudhrao.Mystic-Academy</string>
	<key>PROJECT_ID</key>
	<string>mystic-academy-20355</string>
	<key>STORAGE_BUCKET</key>
	<string>mystic-academy-20355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91076706450:ios:e5308d2fcb661b77c9664b</string>
</dict>
</plist>